[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    raise AssertionError
    raise NotImplementedError

[run]
source=
    mpf/

[report]
omit=
    *__init__.py
