[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    NOQA

    raise AssertionError
    raise NotImplementedError
    def __repr__

omit =
    *__init__.py
    mpf/tests/*
    mpf/__main__.py
    mpf/migrator/*
    mpf/platforms/trinamics/TMCL.py

[run]
source = mpf
