[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    raise AssertionError
    raise NotImplementedError
    def __repr__

omit =
    *__init__.py
    mpf/tests/*
    mpf/__main__.py
    mpf/migrator/*

[run]
source = mpf
