# config_version=4
# This file contains configuration options for the MPF itself, including
# default settings for your machine-wide game-specific config files.

# You should create specific subfolders for each game you want to make and put
# config files there to override these defaults.

mpf:
    core_modules: !!omap
        - events: mpf.core.events.EventManager
        - mode_controller: mpf.core.mode_controller.ModeController
        - config_processor: mpf.core.config_processor.ConfigProcessor
        - shot_profile_manager: mpf.core.shot_profile_manager.ShotProfileManager
        - device_manager: mpf.core.device_manager.DeviceManager
        - switch_controller: mpf.core.switch_controller.SwitchController
        - ball_controller: mpf.core.ball_controller.BallController
        - asset_manager: mpf.core.assets.AsyncioSyncAssetManager
        - show_controller: mpf.core.show_controller.ShowController
        - bcp: mpf.core.bcp.bcp.Bcp
        - logic_blocks: mpf.core.logic_blocks.LogicBlocks
        - service: mpf.core.service_controller.ServiceController
        - settings: mpf.core.settings_controller.SettingsController
        - placeholder_manager: mpf.core.placeholder_manager.PlaceholderManager

    config_players:
        coil: mpf.config_players.coil_player
        event: mpf.config_players.event_player
        queue_event: mpf.config_players.queue_event_player
        queue_relay: mpf.config_players.queue_relay_player
        flasher: mpf.config_players.flasher_player
        gi: mpf.config_players.gi_player
        led: mpf.config_players.led_player
        light: mpf.config_players.light_player
        random_event: mpf.config_players.random_event_player
        show: mpf.config_players.show_player
        trigger: mpf.config_players.trigger_player
        score: mpf.config_players.score_player

    device_modules:
        - mpf.devices.driver.Driver
        - mpf.devices.dual_wound_coil.DualWoundCoil
        - mpf.devices.switch.Switch
        - mpf.devices.matrix_light.MatrixLight
        - mpf.devices.led.Led
        - mpf.devices.gi.Gi
        - mpf.devices.autofire.AutofireCoil
        - mpf.devices.ball_device.ball_device.BallDevice
        - mpf.devices.playfield.Playfield
        - mpf.devices.drop_target.DropTarget
        - mpf.devices.drop_target.DropTargetBank
        - mpf.devices.extra_ball.ExtraBall
        - mpf.devices.shot.Shot
        - mpf.devices.shot_group.ShotGroup
        - mpf.devices.flipper.Flipper
        - mpf.devices.diverter.Diverter
        - mpf.devices.score_reel.ScoreReel
        - mpf.devices.score_reel_group.ScoreReelGroup
        - mpf.devices.flasher.Flasher
        - mpf.devices.playfield_transfer.PlayfieldTransfer
        - mpf.devices.ball_lock.BallLock
        - mpf.devices.multiball.Multiball
        - mpf.devices.motor.Motor
        - mpf.devices.ball_save.BallSave
        - mpf.devices.accelerometer.Accelerometer
        - mpf.devices.servo.Servo
        - mpf.devices.achievement.Achievement
        - mpf.devices.achievement_group.AchievementGroup
        - mpf.devices.physical_dmd.PhysicalDmd
        - mpf.devices.physical_rgb_dmd.PhysicalRgbDmd
        - mpf.devices.led_group.LedStrip
        - mpf.devices.led_group.LedRing
        - mpf.devices.magnet.Magnet
        - mpf.devices.kickback.Kickback
        - mpf.devices.combo_switch.ComboSwitch
        - mpf.devices.ball_hold.BallHold
        - mpf.devices.multiball_lock.MultiballLock

    plugins:
        mpf.plugins.auditor.Auditor
        mpf.plugins.info_lights.InfoLights
        mpf.plugins.switch_player.SwitchPlayer

    platforms:
        fadecandy: mpf.platforms.fadecandy.HardwarePlatform
        fast: mpf.platforms.fast.fast.HardwarePlatform
        i2c_servo_controller: mpf.platforms.i2c_servo_controller.HardwarePlatform
        openpixel: mpf.platforms.openpixel.HardwarePlatform
        opp: mpf.platforms.opp.opp.HardwarePlatform
        p_roc:  mpf.platforms.p_roc.HardwarePlatform
        p3_roc:  mpf.platforms.p3_roc.HardwarePlatform
        pololu_maestro: mpf.platforms.pololu_maestro.HardwarePlatform
        smart_virtual: mpf.platforms.smart_virtual.HardwarePlatform
        smartmatrix: mpf.platforms.smartmatrix.SmartMatrix
        snux: mpf.platforms.snux.HardwarePlatform
        virtual: mpf.platforms.virtual.HardwarePlatform
        spike: mpf.platforms.spike.spike.SpikePlatform

    paths:
        scriptlets: scriptlets
        shows: shows
        audits: data/audits.yaml
        machine_vars: data/machine_vars.yaml
        high_scores: data/high_scores.yaml
        earnings: data/earnings.yaml
        machine_files: examples
        config: config
        modes: modes

    default_pulse_ms: 10
    default_flash_ms: 50
    auto_create_switch_events: True
    switch_event_active: "%_active"
    switch_event_inactive: "%_inactive"
    switch_tag_event: sw_%
    allow_invalid_config_sections: false
    save_machine_vars_to_disk: true
    default_led_hw_update_hz: 50
    default_matrix_light_hw_update_hz: 50
    default_platform_hz: 1000
    default_ball_search: False
    default_show_sync_ms: 0


    device_collection_control_events:
        autofires:
            - enable
            - disable
        ball_devices:
            - stop
            - eject_all
        coils:
            - disable
        flippers:
            - enable
            - disable
        leds:
            - "off"
        lights:
            - "off"
        gi:
            - enable
            - disable

    mode_config_sections:
      - autofire_coils
      - ball_devices
      - ball_saves
      - ball_holds
      - ball_locks
      - coils
      - diverters
      - drop_targets
      - drop_target_banks
      - extra_balls
      - flashers
      - flippers
      - gis
      - leds
      - matrix_lights
      - multiballs
      - playfields
      - playfield_transfers
      - score_reels
      - score_reel_groups
      - shots
      - shot_groups
      - shot_profiles
      - switches
      - timers
      - achievements
      - achievement_groups
      - combo_switches
      - multiball_locks

# Default settings for machines. All can be overridden

p_roc:
    lamp_matrix_strobe_time: 100ms
    watchdog_time: 1s
    use_watchdog: True

fast:
    ports: com3, com4, com5
    baud: 921600
    watchdog: 1s
    default_normal_debounce_close: 10ms
    default_normal_debounce_open: 10ms
    default_quick_debounce_close: 2ms
    default_quick_debounce_open: 2ms
    net_buffer: 10
    rgb_buffer: 3
    dmd_buffer: 3

fadecandy:
    gamma: 2.5
    whitepoint: [1.0, 1.0, 1.0]
    linear_slope: 1.0
    linear_cutoff: 0.0
    keyframe_interpolation: True
    dithering: True

modes:
    - attract
    - game

auditor:
    save_events:
        game_started
        ball_ended
        game_ended
    num_player_top_records: 10
    audit:
        shots
        switches
        events
        player
    events:
        game_started
        game_ended
    player:
        score

sound_system:
    tracks:
        music:
            volume: 0.5
            simultaneous_sounds: 1
        sfx:
            volume: 0.5
            simultaneous_sounds: 8
        voice:
            volume: 0.5
            simultaneous_sounds: 1

assets:
#    default:
#        load: preload
    file_shows:
        default:
            load: preload
        preload:
            load: preload
        on_demand:
            load: on_demand
        mode_start:
            load: mode_start
    sounds:
        default:
             track: sfx
        music:
             track: music
        sfx:
             track: sfx
        voice:
             track: voice

bcp:
    connections:
        local_display:
            host: localhost
            port: 5050
            type: mpf.core.bcp.bcp_socket_client.BCPClientSocket
            required: True
            exit_on_close: True

    servers:
        url_style:
            ip: 127.0.0.1
            port: 5051
            type: mpf.core.bcp.bcp_socket_client.BCPClientSocket

    player_variables:
      __all__

    machine_variables:
      __all__

    shots:
      __all__

    debug: false

open_pixel_control:
    host: localhost
    port: 7890
    connection_required: no
    connection_attempts: -1
    number_format: int

shot_profiles:
    default:
        states:
          - name: unlit
            show: "off"
          - name: lit
            show: "on"

shows:
    flash:
        - time: 0
          lights:
            (light):
              brightness: ff
            (lights):
              brightness: ff
          leds:
            (led):
              color: on
            (leds):
              color: on
        - time: 1
          lights:
            (light):
              brightness: 0
            (lights):
              brightness: 0
          leds:
            (led):
              color: black
            (leds):
              color: black
        - time: 2
    on:
        - time: 0
          duration: -1
          lights:
            (light):
              brightness: ff
            (lights):
              brightness: ff
          leds:
            (led):
              color: on
            (leds):
              color: on
    off:
        - time: 0
          duration: -1
          lights:
            (light):
              brightness: 0
            (lights):
              brightness: 0
          leds:
            (led):
              color: black
            (leds):
              color: black
    led_color:
        - time: 0
          duration: -1
          leds:
            (led): (color)
            (leds): (color)

settings:
  flipper_power:
    label: Flipper power
    sort: 1000
    values:
      0.8: Weak
      1.0: Normal (default)
      1.2: Strong
    key_type: float
    default: 1.0

playfields:
    playfield:
        tags: default

hardware:
  platform: smart_virtual
  coils: default
  switches: default
  matrix_lights: default
  leds: default
  dmd: default
  gis: default
  flashers: default
  driverboards: virtual
  accelerometers: default
  servo_controllers: default
  i2c: default

combo_switches:
  both_flippers:
    tag_1: left_flipper
    tag_2: right_flipper
    events_when_both: flipper_cancel
