#config_version=5
mode:
  code: mpf.modes.tilt.code.tilt.Tilt
  priority: 1000000
  start_events: machine_reset_phase_3
  game_mode: False
  stop_on_ball_end: False

# Instructions on how to use this mode:
# http://docs.missionpinball.org/en/latest/game_logic/tilt.html

tilt:
  tilt_warning_switch_tag: tilt_warning
  tilt_switch_tag: tilt
  slam_tilt_switch_tag: slam_tilt
  warnings_to_tilt: 3
  multiple_hit_window: 300ms
  settle_time: 5s
  tilt_warnings_player_var: tilt_warnings

slide_player:
  tilt_warning_1: tilt_warning_1
  tilt_warning_2: tilt_warning_2
  tilt: tilt
  tilt_clear:
    tilt:
      action: remove
slides:
  tilt_warning_1:
    widgets:
    - type: text
      text: WARNING
    expire: 1s
  tilt_warning_2:
    widgets:
    - type: text
      text: WARNING
      y: top-2
      anchor_y: top
    - type: text
      text: WARNING
      y: top-18
      anchor_y: top
      expire: 1s
    expire: 2s
  tilt:
  - type: text
    text: TILT
