#config_version=3
mode:
  code: tilt.Tilt
  priority: 10000
  start_events: machine_reset_phase_3
  stop_on_ball_end: False

# Instructions on how to use this mode:
# https://missionpinball.com/docs/howto/tilt/

# You can copy the sections below to your own machine config as a starting point

#tilt:
#  tilt_warning_switch_tag: tilt_warning
#  tilt_switch_tag: tilt
#  slam_tilt_switch_tag: slam_tilt
#  warnings_to_tilt: 3
#  reset_warnings_events: ball_ended
#  multiple_hit_window: 300ms
#  settle_time: 5s
#  tilt_warnings_player_var: tilt_warnings

# Be sure to put this slide_player config in your modes/tilt folder, not your
# machine-wide config, because you want it to run at the priority of the mode

#slide_player:
#  tilt_warning_1:
#    type: text
#    text: WARNING
#    expire: 1s
#  tilt_warning_2:
#    - type: text
#      text: WARNING
#      y: 2
#    - type: text
#      text: WARNING
#      y: 18
#      expire: 1s
#  tilt:
#    type: text
#    text: TILT
#  tilt_clear:
#    clear_slides: yes
