#config_version=4
mode:
  code: high_score.HighScore
  priority: 500
  start_events: game_ending, start_high_score
  use_wait_queue: true

# Instructions on how to use this mode:
# http://docs.missionpinball.org/en/latest/game_logic/high_score.html

high_score:
  award_slide_display_time: 4s
  categories:
  - score:
      - GRAND CHAMPION
      - HIGH SCORE 1
      - HIGH SCORE 2
      - HIGH SCORE 3
      - HIGH SCORE 4
  defaults:
    score:
      - BRI: 4242
      - GHK: 2323
      - JK: 1337
      - QC: 42
      - MPF: 23

slide_player:
  high_score_enter_initials: high_score_enter_initials
  high_score_award_display: high_score_award_display

slides:
  high_score_enter_initials:
  - type: text
    text: PLAYER (player_num)
    style: medium
    anchor_y: bottom
    x: center-27
    y: bottom+21
  - type: text
    text: (award)
    style: small
    anchor_y: bottom
    x: center-27
    y: bottom+12
  - type: text_input
    key: high_score
    style: medium
    anchor_y: bottom
    max_chars: 3
    y: bottom
    shift_left_event: sw_high_score_left
    shift_right_event: sw_high_score_right
    select_event: sw_high_score_select
  - type: text
    text: ""
    key: high_score
    anchor_y: bottom
    anchor_x: left
    x: left+90
    y: bottom+12
    style: medium
    animations:
      show_slide:
      - property: opacity
        value: 1
        duration: 0.5s
      - property: opacity
        value: 0
        duration: 0.5s
        repeat: true
  high_score_award_display:
  - type: text
    text: (player_name)
    color: 0
    y: middle-2
    animations:
      show_slide:
      - property: opacity
        value: 1
        duration: 0.05s
      - property: opacity
        value: 0
        duration: 0.05s
        repeat: true
  - type: text
    text: (award)
    style: medium
    anchor_y: top
    y: top-2
