Mode:
    start_events: ball_starting
    priority: 100

Scoring:
    shot_RightRamp:
        Score: 8000
    shot_LeftRamp:
        Score: 7000
    shot_LeftOrbit:
        Score: 6000
    shot_WeakRightOrbit:
        Score: 11000
    shot_FullRightOrbit:
        Score:  6500
    shot_AirRaidRamp:
        Score: 10000
    shot_OrangeStandups:
        Score: 2500
    shot_Slingshot:
        Score: 210
    shot_Inlane:
        Score: 1070
    shot_Outlane:
        Score: 930
    shot_DropTarget:
        Score: 1000
    drop_targets_Judge_complete:
        Score: 10000
    standups_pf_standups_complete:
        Score: 5000

SlidePlayer:
    player_score:
      - type: Text
        text: "%value"
        number_grouping: true
        v_pos: center
      - type: Text
        text: (PLAYER) %number%
        v_pos: bottom
        h_pos: left
        font: small
      - type: Text
        text: (BALL) %ball%
        v_pos: bottom
        h_pos: right
        font: small
    tilt_hit:
        type: Text
        text: WARNING
    ball_live_added:
        type: Text
        text: LET'S GO!
        time: 2s
    mode_base_started:
      - type: Text
        text: "%score%"
        number_grouping: true
        double_zeros: true
        v_pos: center
        transition:
            type: move_in
            direction: top
      - type: Text
        text: (PLAYER) %number%
        v_pos: bottom
        h_pos: left
        font: small
      - type: Text
        text: (BALL) %ball%
        v_pos: bottom
        h_pos: right
        font: small
    balldevice_deadworld_ball_enter:
        type: Text
        text: "BALLS LOCKED: %balls"

SoundPlayer:
    waiting to plunge loop:
        sound: waiting to plunge loop
        start_events: mode_base_started
        stop_events: ball_live_added
        duration:
        loops: -1
        priority:
        fade_in: 0
        fade_out: 0
        volume: 1
    ball launch:
        sound: ball launch motorcycle
        start_events: balldevice_shooterLaneR_ball_eject_attempt
    sling:
        sound: slingshot
        start_events: shot_Slingshot

ShowPlayer:
    mode_base_started:
      - show: game_info
        repeat: yes
        tocks_per_sec: 1

LogicBlocks:
    Accruals:
        both_ramps_made:
            events: shot_RightRamp, shot_LeftRamp
            events_when_complete: both_ramps_made
            disable_events: both_ramps_made
    Counters:
        total_ramps:
            count_events: shot_RightRamp, shot_LeftRamp
