#config_version=6
mode:
  code: mpf.modes.credits.code.credits.Credits
  priority: 1000010
  start_events: reset_complete
  game_mode: False
  stop_on_ball_end: False

# Instructions on how to use this mode:
# https://missionpinball.org/game_logic/credits

# You can copy the sections below to your own machine config as a starting point

#credits:
#  max_credits: 12
#  free_play: no
#  service_credits_switch: s_esc
#  switches:
#    - switch: s_left_coin
#      type: money
#      value: .25
#    - switch: s_center_coin
#      type: money
#      value: .25
#    - switch: s_right_coin
#      type: token
#      value: 1
#    - switch: s_fourth_coin
#      value: 1
#      type: money
#  pricing_tiers:
#    - price: .50
#      credits: 1
#    - price: 2
#      credits: 5
#  fractional_credit_expiration_time: 15m
#  credit_expiration_time: 2h
#  persist_credits_while_off_time: 1h
#  free_play_string: FREE PLAY
#  credits_string: CREDITS
#

# Be sure to put this slide_player config in your modes/credits folder, not your
# machine-wide config, because you want it to run at the priority of the mode

#slide_player:
#  credits_added:
#    type: text
#    text: "%machine|credits_string%"
#    expire: 2s
#  not_enough_credits:
#  - type: text
#    text: "%machine|credits_string%"
#    expire: 2s
#    font: small
#    v_pos: bottom
#  - type: text
#    text: INSERT COINS
#    decorators:
#      type: blink
#      repeats: -1
#      on_secs: .1
#      off_secs: .1
#  enabling_free_play:
#    type: text
#    text: ENABLING FREE PLAY
#    expire: 2s
#  enabling_credit_play:
#  - type: text
#    text: ENABLING CREDIT PLAY
#    expire: 2s
#  - type: text
#    text: "%machine|credits_string%"
#    expire: 2s
#    font: small
#    v_pos: bottom