#config_version=4

modes:
    - mode1
    - mode2

physical_dmd:
  shades: 16
  fps: 24

window:
  width: 600
  height: 200
  title: Widgets and Slides Test
  resizable: true
  fullscreen: false
  borderless: false
  exit_on_escape: true

displays:
  window:
    height: 200
    width: 600
  dmd:
    width: 128
    height: 32
    default: true

slides:
  window_slide_1:
  - type: dmd
    width: 512
    height: 128
    pixel_color: ff5500
    dark_color: 220000
    z: 1
  - type: text
    text: MISSION PINBALL FRAMEWORK
    anchor_y: top
    y: top-3
    font_size: 30
    z: 1
    color: white
  - type: rectangle
    width: 514
    height: 130
    z: 2
    color: 444444

  waiting_for_connection:
  - type: text
    text: WAITING FOR MPF CONNECTION

  asset_status:
  - type: text
    text: "LOADING ASSETS: (percent)%"

slide_player:
  mc_ready:
    window_slide_1:
      target: window
  loading_assets: asset_status

widget_styles:
  text_default:
    font_size: 10
    adjust_top: 2
    adjust_bottom: 3
  medium:
    font_size: 8
    adjust_top: 1
    adjust_bottom: 1
  small:
    font_size: 9
    adjust_top: 2
    adjust_bottom: 3