# Requirements file for pip packages needed to build the docs.
# These packages are not required to build or run MPF itself.

sphinxcontrib-napoleon
gitpython
sphinx_rtd_theme
autoapi
graphviz
sphinx
docutils
sphinxcontrib-youtube
-e git+https://github.com/missionpinball/mpf-examples.git@dev#egg=mpf-examples
