name: Wheel Builder

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels for Python ${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:  
      fail-fast: false
      matrix:
        include:
        # - os: windows-latest
        #   python-version: 3.7
        # - os: windows-latest
        #   python-version: 3.8
        # - os: windows-latest
        #   python-version: 3.9
        # - os: ubuntu-latest
        #   python-version: 3.7
        # - os: ubuntu-latest
        #   python-version: 3.8
        - os: ubuntu-latest
          python-version: 3.9
        # - os: macos-latest
        #   python-version: 3.7
        # - os: macos-latest
        #   python-version: 3.8
        # - os: macos-latest
        #   python-version: 3.9

    steps:
      - name: Checkout MPF
        uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install MPF
        run: |
          pip install --upgrade pip setuptools wheel build
          pip install -e .
      
      - name: Run tests
        run: python -m unittest discover -s mpf/tests
      
      - name: Build wheel
        run: python -m build

      - uses: actions/upload-artifact@v3
        with:
          path: ./dist/*.*